@font-face {
  font-family: "Cassannet Plus";
  src:
    url("./assets/fonts/cassannet_plus_regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/cassannet_plus_regular-webfont.woff") format("woff"),
    url("./assets/fonts/cassannet_plus_regular-webfont.ttf") format("truetype"),
    url("./assets/fonts/cassannet_plus_regular-webfont.eot")
      format("embedded-opentype"),
    url("./assets/fonts/cassannet_plus_regular-webfont.svg#cassannet_plus_regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
